body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
}
li{
    margin: 10px;
}
ul a{
    text-decoration: none;
   
}
ul a:hover{
    text-decoration: underline;
}
#home{
    text-decoration: underline;
}
.navbar{
    display: none;
    background: #743331;
    padding: 15px 10px;
}
.navbar a, .navbar li{
    color: #fffefe;
}
.navbar.active{
    background: silver;
}
.navbar.active a{
    color: #fffefe;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
}
h1, h2{
    text-align: center;
}
.dropdown{
    display: none;
    background: slategray;
    position: absolute;
    padding: 0;
}
.has-dropdown{
    color: #fffefe;
}
.has-dropdown:hover{
    cursor: pointer;
}
/* .has-dropdown:after{
    top: 50%;
    transform: translateY(-50%);
    font-family: "FontAwesome"; 
    content: "\f0d7";
    font-size: 16px;
} */
.menu-btn{
    font-size: 1.5em;
    padding: 3px 5px;
    margin: 10px;
}
.active{
    display: block;
    max-width: 150px;
    position: absolute;
}
.visible ~ .dropdown{
    display: block;
    position: absolute;
    padding-right: 20px;
}
.login-form, .register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 30%;
    margin: auto;
    margin-bottom: 20px;
}
.login-form input, .register-form input{
    margin: 5px 0 10px 0;
    padding: 5px 0;
}
.main-section{
    display: flex;
    justify-content: center;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
}
@media screen and (min-width: 650px){
    .menu-btn{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: flex-end;
    }
    .visible ~ .dropdown{
      display: block;
    }
    .dropdown{
        padding: 3px 2px;
    }
    .dropdown li a{
        color:#fffefe;
    }
    
}
@media screen and (min-width: 960px){
    .login-form, .register-form{
        max-width: 20%;
    }
}
